
.swiper {
    width: 60vw;
    height: 95vh;
}

.swiper .logoimg{
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    margin-top: 15vh;
    width: 192px;
    height: 192px;
}

.swiper .title{
  text-align: center;
  margin-top: 10vh;
}

.swiper-slide {
  position: relative;
  border-radius: 18px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  box-sizing: border-box;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
  padding-top: 30vh;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next{
  color : black;
  
}